.DS_Store
Library
*.csproj
*.pidb
*.sln
*.userprefs
Temp
Assets/LOD_green_tree.fbm/23___Default_Base_Color.png
Assets/LOD_green_tree.fbm/23___Default_Base_Color.png.meta
Assets/LOD_green_tree.fbm/arbre_paintLOD2.png
Assets/LOD_green_tree.fbm/arbre_paintLOD2.png.meta
Assets/LOD_green_tree.fbm/arbre_paintLOD2_alpha.png
Assets/LOD_green_tree.fbm/arbre_paintLOD2_alpha.png.meta
Assets/LOD_green_tree.fbm/feuilles_unité.png
Assets/LOD_green_tree.fbm/feuilles_unité.png.meta
Assets/LOD_green_tree.fbm/feuilles_unité_alpha.png
Assets/LOD_green_tree.fbm/feuilles_unité_alpha.png.meta
Assets/LOD_green_tree_02.fbm/23___Default_Base_Color.png
Assets/LOD_green_tree_02.fbm/23___Default_Base_Color.png.meta
Assets/LOD_green_tree_02.fbm/feuilles_unité.png
Assets/LOD_green_tree_02.fbm/feuilles_unité.png.meta
Assets/LOD_green_tree_02.fbm/feuilles_unité_alpha.png
Assets/LOD_green_tree_02.fbm/feuilles_unité_alpha.png.meta
Assets/LOD_green_tree_03.fbm/arbre_paintLOD2.png
Assets/LOD_green_tree_03.fbm/arbre_paintLOD2.png.meta
Assets/LOD_green_tree_03.fbm/arbre_paintLOD2_alpha.png
Assets/LOD_green_tree_03.fbm/arbre_paintLOD2_alpha.png.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_ orn_ Default_AlbedoTransparency.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_ orn_ Default_AlbedoTransparency.mat.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Bas_relief_A_low_13 - Default_AlbedoTransparency.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Bas_relief_A_low_13 - Default_AlbedoTransparency.mat.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Bas_relief_B_DefaultMaterial_AlbedoTransparency.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Bas_relief_B_DefaultMaterial_AlbedoTransparency.mat.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_ENTREE_Default_AlbedoTransparency.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_ENTREE_Default_AlbedoTransparency.mat.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Mur_Brique_low_wire_115115115_AlbedoTransparency.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Mur_Brique_low_wire_115115115_AlbedoTransparency.mat.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_SERPENTIN_A_Default_AlbedoTransparency.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_SERPENTIN_A_Default_AlbedoTransparency.mat.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_SOcle_04 - Default_AlbedoTransparency.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_SOcle_04 - Default_AlbedoTransparency.mat.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Serpentin_B_low_15 - Default_AlbedoTransparency.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Serpentin_B_low_15 - Default_AlbedoTransparency.mat.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Toit_Mur_low_DefaultMaterial_AlbedoTransparency.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/MOD_MECA_TEMPLE_Toit_Mur_low_DefaultMaterial_AlbedoTransparency.mat.meta
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/Toit_Mur_low_DefaultMaterial_BaseColor.mat
Assets/Models/Assets_LvL2/ASSETS/MOD_Temple_Mecanisme/Materials/Toit_Mur_low_DefaultMaterial_BaseColor.mat.meta
Assets/arbre_lod_03.fbm/arbre_paintLOD2.png
Assets/arbre_lod_03.fbm/arbre_paintLOD2.png.meta
Assets/arbre_lod_03.fbm/arbre_paintLOD2_alpha.png
Assets/arbre_lod_03.fbm/arbre_paintLOD2_alpha.png.meta
Assets/arbre_lod_03_impl.FBX
Assets/arbre_lod_03_impl.FBX.meta
Assets/arbre_lod_03_impl.fbm.meta
Assets/arbre_lod_03_impl.fbm/arbre_paintLOD2.png
Assets/arbre_lod_03_impl.fbm/arbre_paintLOD2.png.meta
Assets/arbre_lod_03_impl.fbm/arbre_paintLOD2_alpha.png
Assets/arbre_lod_03_impl.fbm/arbre_paintLOD2_alpha.png.meta
Assets/arbre_lod_3.fbm.meta
Assets/arbre_lod_3.fbm/arbre_paintLOD2.png
Assets/arbre_lod_3.fbm/arbre_paintLOD2.png.meta
Assets/arbre_lod_3.fbm/arbre_paintLOD2_alpha.png
Assets/arbre_lod_3.fbm/arbre_paintLOD2_alpha.png.meta
Assets/materials/23___Default_Base_Color.mat
Assets/materials/23___Default_Base_Color.mat.meta
Assets/materials/arbre_paintLOD2.mat
Assets/materials/arbre_paintLOD2.mat.meta
Assets/materials/feuilles_unité.mat
Assets/materials/feuilles_unité.mat.meta
Assets/scenes/Materials/23___Default_Base_Color.mat
Assets/scenes/Materials/23___Default_Base_Color.mat.meta
Assets/scenes/Materials/No Name.mat
Assets/scenes/Materials/No Name.mat.meta
Assets/scenes/Materials/arbre_paintLOD2.mat
Assets/scenes/Materials/arbre_paintLOD2.mat.meta
Assets/scenes/arbre_LOD2.fbm.meta
Assets/scenes/arbre_LOD2.fbm/arbre_paintLOD2.png
Assets/scenes/arbre_LOD2.fbm/arbre_paintLOD2.png.meta
Assets/scenes/arbre_LOD2.fbm/arbre_paintLOD2_alpha.png
Assets/scenes/arbre_LOD2.fbm/arbre_paintLOD2_alpha.png.meta
Assets/scenes/arbre_LOD2_normals.fbm.meta
Assets/scenes/arbre_LOD2_normals.fbm/arbre_paintLOD2.png
Assets/scenes/arbre_LOD2_normals.fbm/arbre_paintLOD2.png.meta
Assets/scenes/arbre_LOD2_normals.fbm/arbre_paintLOD2_alpha.png
Assets/scenes/arbre_LOD2_normals.fbm/arbre_paintLOD2_alpha.png.meta
Assets/scenes/arbre_test_lod 1.fbm.meta
Assets/scenes/arbre_test_lod 1.fbm/23___Default_Base_Color.png
Assets/scenes/arbre_test_lod 1.fbm/23___Default_Base_Color.png.meta
Assets/scenes/arbre_test_lod 1.fbm/feuilles_unité.png
Assets/scenes/arbre_test_lod 1.fbm/feuilles_unité.png.meta
Assets/scenes/arbre_test_lod 1.fbm/feuilles_unité_alpha.png
Assets/scenes/arbre_test_lod 1.fbm/feuilles_unité_alpha.png.meta
Assets/scenes/arbre_test_lod.fbm.meta
Assets/scenes/arbre_test_lod.fbm/23___Default_Base_Color.png
Assets/scenes/arbre_test_lod.fbm/23___Default_Base_Color.png.meta
Assets/scenes/arbre_test_lod.fbm/arbre_paintLOD2.png
Assets/scenes/arbre_test_lod.fbm/arbre_paintLOD2.png.meta
Assets/scenes/arbre_test_lod.fbm/arbre_paintLOD2_alpha.png
Assets/scenes/arbre_test_lod.fbm/arbre_paintLOD2_alpha.png.meta
Assets/scenes/arbre_test_lod.fbm/feuilles_unité.png
Assets/scenes/arbre_test_lod.fbm/feuilles_unité.png.meta
Assets/scenes/arbre_test_lod.fbm/feuilles_unité_alpha.png
Assets/scenes/arbre_test_lod.fbm/feuilles_unité_alpha.png.meta
